body {
    background-color: black;;
}
.main {
    margin: 140px 0 0 130px;
    width: 90%;
}
.first_row {
    margin: 10px;
}
.second_row {
    margin: 10px;
}
.third_row {
    margin: 10px;  
}
.forth_row {
    margin: 10px;   
}
.fifth_row {
    margin: 10px;  
}
button {
    color: rgb(214,214,214);
    width: 55px;
    height: 55px;
    background-color: black;
    box-shadow: 2px 1px 4px #474343, -2px 1px 4px #FFF;
    font-size: 20px;
    margin-left: 10px;
    outline: none;
    font-family:Arial, Helvetica, sans-serif;
    border-radius: 20%;
}
.back {
    width: 128px;
    border-radius: 10px;
}
.tab {
    width: 92px;
    border-radius: 10px;
}
.slash {
    width: 92px;
    border-radius: 10px;
}
.caps {
    width: 120px;
    border-radius: 10px;
}
.enter {
    width: 135px;
    border-radius: 10px;
}
.shift {
    width: 161px;
    border-radius: 10px;
}
.other {
    width: 85px;
    border-radius: 10px;
}
.space {
    width: 430px;
    border-radius: 10px;
}